.docMainContainer {
  display: flex;
  width: 100%;
}

@media (min-width: 997px) {
  .docMainContainer {
    flex-grow: 1;
    max-width: calc(100% - var(--doc-sidebar-width));
  }

  .docMainContainerEnhanced {
    max-width: calc(100% - var(--doc-sidebar-hidden-width));
  }

  .docItemWrapperEnhanced {
    max-width: calc(
      var(--ifm-container-width) + var(--doc-sidebar-width)
    ) !important;
  }
  .margin_top_83{
    margin-top: 92px !important;
    margin-left: 10px;
    background-color: #FEFEFE;
  }
  h2::before{
    content: "";
    display: block;
    height: 50px; /* Adjust this value to change the height */
    margin: -50px 0 0; /* Adjust this value to change the height */
    visibility: hidden;
    pointer-events: none;
  }
  h3::before{
    content: "";
    display: block;
    height: 40px; /* Adjust this value to change the height */
    margin: -40px 0 0; /* Adjust this value to change the height */
    visibility: hidden;
    pointer-events: none;
  }
}
