@media (min-width: 997px) {
  .menuHtmlItem {
    padding: var(--ifm-menu-link-padding-vertical)
      var(--ifm-menu-link-padding-horizontal);
  }
}
.chapterTitle{
  height: 54px;
  margin-top: 16px;
  padding-left: 30px;
  line-height: 54px;
  color: rgba(136,153,168,1.00);
}