#custom-toc{
    /* width: calc(2 / 12 * 100%); */
    border-left: 1px solid #dadde1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
#custom-toc .table-of-contents{
    padding-bottom: 80px;
    border: none;
    display: flex;
    flex-direction: column;
}
#custom-toc .thin-scrollbar{
    top: 0;
}
#custom-toc .small-height{
    height: 50vh;
}
#custom-toc .custom-bottom{
    padding: 20px;
    position: fixed;
}
#custom-toc .custom-bottom button{
    width: 100%;
    margin: 0;
}
#placeholder{
    display: none;
}